* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #3AAFA9;

    .header {
        display: flex;
        justify-content: center;

        h1 {
            font-size: 40px;
            margin-top: 40px;
            color: #FEFFFF;
        }
    }

    .main {
        
        .menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 60px;

            button {
                height: 75px;
                width: 300px;
                font-size: 25px;
                margin-top: 20px;
                border: none;
                border-radius: 20px;
            }
        }

        .add-card {
            display: flex;
            flex-direction: column;
            align-items: center;

            > section {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 40px;

                button {
                    margin-top: 60px;
                    margin-bottom: 20px;
                }

                input {
                    width: 200px;
                    padding: 10px;
                }

                textarea {
                    padding: 10px;
                }
            }

            button {
                height: 60px;
                width: 200px;
                border-radius: 15px;
                font-size: 18px;
            }
        }

        .random-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            perspective: 1000px;

            .card {
                height: 350px;
                width: 250px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .5s ease;
                transform-style: preserve-3d;
                background-color: #dbdb5f;
                border-radius: 20px;
                margin-top: 30px;

                p {
                    width: 80%;
                }
            }

            button {
                height: 60px;
                width: 200px;
                border-radius: 15px;
                font-size: 18px;
                margin-top: 20px;
            }
        }

        .all-cards {
            display: flex;
            flex-direction: column;
            align-items: center;

            .all-cards-container {
                width: 360px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-top: 30px;

                .miniature-card {
                    height: 220px;
                    width: 150px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    background-color: #dbdb5f;
                    margin-top: 15px;
                    border-radius: 15px;

                    p {
                        text-align: center;
                        width: 80%;
                    }

                    button {
                        height: 30px;
                        width: 100px;
                        font-size: 14px;
                    }
                }
            }

            button {
                height: 60px;
                width: 200px;
                border-radius: 15px;
                font-size: 18px;
                margin-top: 20px;
            }
        }

        .view-single-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            perspective: 1000px;
            margin-top: 30px;

            .miniature-card {
                height: 350px;
                width: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: all .5s ease;
                transform-style: preserve-3d;
                background-color: #dbdb5f;
                border-radius: 20px;

                p {
                    width: 80%;
                }
            }
        }

        button {
            height: 60px;
            width: 200px;
            border-radius: 15px;
            font-size: 18px;
            margin-top: 20px;
        }
    }
}

.hide {
    display: none !important;
}

.error {
    animation: shake .4s 1;
}

@keyframes shake {
    0% {transform: translateX(10px)}
    25% {transform: translateX(-10px)}
    50% {transform: translateX(10px)}
    75% {transform: translateX(-10px)}
    100% {transform: translateX()}
}

.flip-animation {
    transform: rotateY(180deg);
}

button {
    background-color: #23383f;
    border: none;
    color: #DEF2F1;

    &:hover {
        background-color: #3d616d;
    }
}